---
import BaseLayout from '../../components/BaseLayout.astro';
import {useTranslations} from '../../i18n/utils';
import mainBackground from '../../../public/media/main-background.jpg';

export function getStaticPaths() {
    return [
        {params: {lang: 'en'}},
        {params: {lang: 'id'}},
        {params: {lang: 'ja'}},
    ];
}

const {lang} = Astro.params;
const t = useTranslations(lang as any);
---
<BaseLayout title={t('siteTitle')} description="Lobby page" lang={lang as any} fullScreen={true}>
    <!-- Full Screen Background Image -->
    <div class="fixed inset-0 w-screen h-screen -z-10">
        <div
                class="w-full h-full bg-center bg-cover contrast-125 opacity-90"
                style={`background-image: url('${mainBackground.src}')`}
                aria-hidden="true"
        ></div>
        <!-- Tonal Overlay -->
        <div class="absolute inset-0 bg-primary/5 mix-blend-multiply"></div>
    </div>
</BaseLayout>